<html>
 <head>
         <title>Elena Herrman's blog</title>
        </head>
        <body>
        	<div>
     			<h1><a href="https://www.facebook.com/elena.herrman">Me on Facebook</a></h1>
     		</div>

     		<div>
                <p style="color:#FF00FF">Add me :)</p>
            </div>

			<div>
            <p><img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/17951903_1523249544353861_2022518070157371104_n.jpg?oh=d2cd99eda7e6ad07fcd831e922e02335&oe=59AE2649" width="180" height="200" alt="Photo"></p>
            </div>
     	</body>
</html>

